/* CSS Document */

[name="frm_list"]
{
	position: relative;
	width: 840px;
	left: 50%;
	margin-left: -420px;
}

.tb
{
	width: 95%;
}

.td:nth-child(1){ width: 40%; }
.td:nth-child(2){ width: 50%; }
.td:nth-child(3){ width: 10%; }

.td
{
	font-size: 16px;
	padding: 5px;
}

.td *
{
	font-size: 16px;
}